@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*обнуление почти всех поднастроек гугл хрома для html */
span {
  font-size: 20px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 215px;
  height: 65px;
  margin-left: 180px;
  margin-top: 380px;
  background: #2639ED;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  transition: 350ms;
  z-index: 10;
}

button:hover {
  background: #000000;
  transition: 350ms;
}

.logo {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 50px;
  font-family: "Rubik", sans-serif;
}
.logo .logo-s {
  font-weight: 900;
  padding-left: 180px;
  font-size: 30px;
}
.logo .logo-text {
  padding-left: 5px;
  font-size: 30px;
}

.menu-head {
  text-align: right;
  padding-top: 55px;
  padding-right: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Rubik", sans-serif;
}
.menu-head .menu-text {
  font-size: 20px;
  margin-right: 60px;
  transition: 350ms;
}
.menu-head .menu-text:hover {
  font-size: 20px;
  margin-right: 60px;
  color: #2639ED;
  transition: 350ms;
}

/*
.logo {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Rubik', sans-serif;
  .logo-s
  {
    font-weight: 900;
    margin-left: $indent;
    font-size: 30px;
  }
  .logo-text
  {
    padding-left: 5px;
    font-size: 30px;
  }
}


.menu-head
{
  text-align: right;
  margin-top: 55px;
  margin-right: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Rubik', sans-serif;
  .menu-text
  {
    font-size: 20px;
    margin-right: 60px;
    transition: 350ms;
    &:hover
    {
      font-size: 20px;
      margin-right: 60px;
      color: #2639ED;
      transition: 350ms;
    }
  }
}

*/
.paint-head {
  float: right;
  margin-top: 50px;
  z-index: 1;
}

.paint-baner {
  float: right;
  margin-top: 400px;
  z-index: 1;
}

.text-main {
  position: absolute;
  margin-left: 180px;
  margin-top: 150px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.text-secondary {
  position: absolute;
  margin-left: 180px;
  margin-top: 280px;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.text-main-company {
  position: absolute;
  margin-left: 180px;
  margin-top: 750px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.text-secondary-company {
  position: absolute;
  margin-left: 180px;
  margin-top: 800px;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.text-main-help {
  position: absolute;
  margin-left: 180px;
  margin-top: 1280px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.text-secondary-help {
  position: absolute;
  margin-left: 180px;
  margin-top: 1400px;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.companies {
  position: absolute;
  margin-left: 516px;
  margin-top: 720px;
  z-index: 10;
}
.companies .companies-img {
  margin-left: 55px;
  margin-top: 55px;
}
.companies .companies-img-down {
  margin-left: 55px;
  margin-top: 67px;
}

.boxs-four {
  float: right;
  margin-top: -410px;
  margin-right: -900px;
  text-align: center;
}
.boxs-four .boxs {
  margin-top: 700px;
  z-index: 2;
}
.boxs-four .boxs-icons {
  margin-top: -400px;
  z-index: 2;
}
.boxs-four .icons {
  margin-top: -100px;
  z-index: 2;
}
.boxs-four .text-main-box {
  font-size: 24px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
}
.boxs-four .text-secondary-box {
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
}

.boxs-four2 {
  float: right;
  margin-top: 0px;
  margin-right: -900px;
  text-align: center;
}
.boxs-four2 .boxs {
  margin-top: 700px;
  z-index: 2;
}
.boxs-four2 .boxs-icons {
  margin-top: -400px;
  z-index: 2;
}
.boxs-four2 .icons {
  margin-top: -100px;
  z-index: 2;
}
.boxs-four2 .text-main-box {
  font-size: 24px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
}
.boxs-four2 .text-secondary-box {
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
}

.boxs-four3 {
  float: right;
  margin-top: -470px;
  margin-right: -1240px;
  text-align: center;
}
.boxs-four3 .boxs {
  margin-top: 700px;
  z-index: 2;
}
.boxs-four3 .boxs-icons {
  margin-top: -400px;
  z-index: 2;
}
.boxs-four3 .icons {
  margin-top: -100px;
  z-index: 2;
}
.boxs-four3 .text-main-box {
  font-size: 24px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
}
.boxs-four3 .text-secondary-box {
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
}

.boxs-four4 {
  float: right;
  margin-top: -60px;
  margin-right: -1240px;
  text-align: center;
}
.boxs-four4 .boxs {
  margin-top: 700px;
  z-index: 2;
}
.boxs-four4 .boxs-icons {
  margin-top: -400px;
  z-index: 2;
}
.boxs-four4 .icons {
  margin-top: -100px;
  z-index: 2;
}
.boxs-four4 .text-main-box {
  font-size: 24px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
}
.boxs-four4 .text-secondary-box {
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
}

.newpage {
  padding-top: 2000px;
  text-align: center;
}/*# sourceMappingURL=index2.css.map */