@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*обнуление почти всех поднастроек гугл хрома для html */
span {
  font-size: 20px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 215px;
  height: 65px;
  margin-left: 120px;
  margin-top: 380px;
  background: #2639ED;
  border-radius: 60px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  transition: 350ms;
  z-index: 10;
}

button:hover {
  background: #000000;
  transition: 350ms;
}

.logo {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 50px;
  font-family: "Rubik", sans-serif;
}
.logo .logo-s {
  font-weight: 900;
  padding-left: 120px;
  font-size: 30px;
}
.logo .logo-text {
  padding-left: 5px;
  font-size: 30px;
}

.menu-head {
  text-align: right;
  padding-top: 55px;
  padding-right: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Rubik", sans-serif;
}
.menu-head .menu-text {
  font-size: 20px;
  margin-right: 60px;
  transition: 350ms;
}
.menu-head .menu-text:hover {
  font-size: 20px;
  margin-right: 60px;
  color: #2639ED;
  transition: 350ms;
}

.paint-head {
  float: right;
  padding-top: 50px;
  z-index: 1;
}

.text-main {
  position: absolute;
  padding-left: 120px;
  padding-top: 150px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.text-secondary {
  position: absolute;
  padding-left: 120px;
  padding-top: 280px;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.text-main-baner {
  position: absolute;
  padding-left: 120px;
  padding-top: 750px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.text-secondary-baner {
  position: absolute;
  padding-left: 120px;
  padding-top: 800px;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.companies {
  position: absolute;
  padding-left: 516px;
  padding-top: 720px;
}
.companies .companies-img {
  margin-left: 55px;
  margin-top: 55px;
}
.companies .companies-img-down {
  margin-left: 55px;
  margin-top: 67px;
}/*# sourceMappingURL=index2.css.map */